<!DOCTYPE html>
<html>

<head>
    <title>My Practice Node</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/meee.jpg">
    </div>

    {{>footer}}
</body>

</html>